http_server
backend_server
*.o
grpc_backend/BigTabler
grpc_backend/Indexer
grpc_backend/backend_server
grpc_backend/backend_replicar
grpc_master/master_client
grpc_master/MasterNode
grpc_master/master_server
.idea/
grpc_backend/primary_log.txt
grpc_backend/replica_log.txt